.raf-icon-badge {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;

  svg {
    fill: tint($black, 10%); // color-mod(var(black) tint(10%));
    transition: fill 0.1s ease-in-out;
  }

  &:hover {
    svg {
      fill: $primary; // color-mod(var(primary));
    }
  }
}

.raf-icon-badge__badge {
  position: absolute;
  top: -4px;
  left: 60%;
  min-width: 14px;
  height: 13px;
  background-color: $error;
  border-radius: 4px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0 3px;
}

.raf-icon-badge__badge p {
  margin: -1px 0 0 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  color: white;
  user-select: none;
}
