{
  "presets": ["@babel/env", "@babel/react", "@babel/flow"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "ie": 11,
              "browsers": "last 2 versions"
            },
            "useBuiltIns": "entry",
            "modules": false
          }
        ]
      ]
    }
  }
}
