{
  "presets": ["@babel/env", "@babel/react", "@babel/flow"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-runtime", { "corejs": 2 }]
  ],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
