.raf-user-bar {
  display: flex;
  align-items: center;
}

.raf-user-bar__details {
  flex: 1;
}

.raf-user-bar__username,
.raf-user-bar__subtitle {
  margin: 0;
}

.raf-user-bar__username {
  font-weight: 700;
  color: #313e47;
  display: inline-block;
  margin-right: 8px;
}

.raf-user-bar__subtitle {
  font-size: 14px;
  color: color($fontColor tint(30%));
}

.raf-user-bar__extra {
  font-size: 12px;
  color: color($black a(60%));
}

.raf-user-bar .raf-avatar {
  margin-right: 12px;
}
