$borderRadius: 4px;

$z0: 0;
$z1: 10;
$z2: 20;
$z3: 30;
$z4: 40;
$z5: 50;
$z6: 60;
$z7: 70;
$z8: 80;
$z9: 90;

$transparent: rgba(255, 255, 255, 0);
$white: #fff;
$black: #000;
$primary: #00d46a;
$info: #0ba8e0;
$faded: #ddd;
$error: #f00;
$fontColor: #414d54;

// Colors to optimize
$rafAttachedActivityAuthor: #414d54;
$rafActivityFooterBorder: #e6f0f2;
$rafCommentfieldBackground: #f7f7f7; // lightest grey
$rafCardBackground: #f4f4f4; // lighter grey
$rafCardBorder: #a0b2b8; // grey
$rafDropdownBackground: #313e47; // dark grey
