.raf-activity {
  background-color: $white;
  border-radius: 4px;
  margin: 8px 0;

  &__hashtag {
    color: #095482;
  }

  &__mention {
    color: #095482;
  }

  &__link {
    color: $info;
  }

  &__attachments {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid color($black a(10%));
    border-radius: 4px;
    overflow: hidden;
    margin: 8px 0;

    a {
      display: block;
      color: $fontColor;
      border-bottom: 1px solid color($black a(10%));
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-child {
        border-color: transparent;
      }
    }
  }

  &__file {
    padding: 8px 16px;
    text-decoration: none;

    &:hover {
      background: #fafafa;
    }

    svg {
      min-width: 25px;
    }
  }
}
