.raf-b2btimeline {
  display: flex;
  position: relative;
  background: #f0f0f0;
  &__icon {
    position: relative;
    min-width: 70px;
    height: 70px;
    border: 1px solid #a0b2b8;
    border-radius: 70px;
    background-color: #f0f0f0;
    z-index: $z9;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 70px;
  }
  &__line {
    position: absolute;
    left: 35px;
    height: 100%;
    padding: 35px 35px 85px;
    display: flex;
    .line {
      flex: 1;
      z-index: $z1;
      width: 1px;
      background: #a0b2b8;
    }
  }
  &__feed {
    position: relative;
    flex: 1;
    padding: 0 35px 0 35px;
  }
  &__post {
    display: flex;
  }
  &__time {
    padding-left: 100px;
  }
  &__post-content {
    flex: 1;
    padding-left: 30px;
  }
}
