.raf-button {
  padding: 8px 16px;
  min-width: 70px;
  display: inline-flex; align-items: center; justify-content: center;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: 800;
  margin: 3px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.raf-button.primary {background-color: #00D46A;}
.raf-button.faded {background-color: #DDDDDD;}

.raf-button.primary:focus, .raf-button.primary:active {
  /* background: #00AE57; */
  box-shadow: 0px 0px 0px 3px #00AE57;
}

.raf-button.faded:focus, .raf-button.faded:active {
  /* background: #00AE57; */
  box-shadow: 0px 0px 0px 3px #aeaeae;
}