.raf-card {
  display: block;
  text-decoration: none;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  border: 1px solid color(#fafafa shade(20%));
  box-shadow: 0px 1px 3px 0px color($black a(10%));

  &--with-image {
    .raf-icon-button {
      position: absolute;
      top: 10px;
      bottom: 10px;
      right: 10px;
    }
  }
}

.raf-card__image {
  width: 100%;
  height: 177px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  & > .raf-icon-button {
    margin: 16px;
  }
}

.raf-card__image img {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.raf-card__content {
  display: flex;
  align-items: center;
  /* border: 1px solid #a0b2b8; */
  /* box-shadow: inset 1px -1px 0 0 #a0b2b8, inset -1px -1px 0 0 #a0b2b8; */
  border-radius: 0px 0px 6px 6px;
  background-color: #fafafa;
  padding: 13px 20px 13px 20px;
  div:first-child {
    flex: 1;
  }
  div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
}

.raf-card__title,
.raf-card__url,
.raf-card__description {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
  color: $fontColor;
}

.raf-card__title {
  font-size: 16px;
}
.raf-card__url {
  font-size: 12px;
  color: $primary;
}
.raf-card__description {
  font-size: 12px;
}
