.raf-comment-field {
  display: flex;

}
.raf-comment-field__input {
  flex: 1;
  background: #F7F7F7;
  color: #6F7E82;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  padding: 10px 22px;
  border: 0;
  margin-left: 8px;
  position: relative;
}