.raf-data-label {
  &__label,
  &__data {
    display: block;
  }
  &__label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    color: $fontColor;
  }
  &__data {
    font-size: 16px;
    color: $fontColor;
    font-weight: 300;
  }
}
