.raf-dropdown-panel {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  border-radius: 4px;
  /* overflow: hidden; */
}

.raf-dropdown-panel--arrow {
  position: relative;
}

.raf-dropdown-panel--arrow:after {
	bottom: 100%;
	left: 30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(247, 247, 247, 0);
	border-bottom-color: #fff;
	border-width: 8px;
	margin-left: -8px;
}

.raf-dropdown-panel__header {
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.raf-dropdown-panel__content {
  max-height: 425px;
  overflow: scroll;
}

.raf-dropdown-panel__footer {
  background: #fff;
  box-shadow: 0px -1px 2px rgba(0,0,0,0.15);
  border-radius: 0px 0px 4px 4px;
  margin-top: 1px;
}