.raf-emoji-picker {
  position: relative;
  z-index: $z8;
  cursor: pointer;
  display: inline-block;
}

.raf-emoji-picker__button {
  display: inline-block;
}
.raf-emoji-picker__container {
  position: absolute;
  z-index: $z9;
  top: 0px;
  left: 40px;
}