.raf-flex {
  display: flex;
  > * {
    margin: 0 8px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &--vcenter {
    align-items: center;
  }
}
