.raf-icon-badge {
  position: relative;
  display: inline-block;

}
.raf-icon-badge__badge {
  position: absolute;
  top: -4px;
  left: 60%;
  min-width: 14px; height: 13px; background-color: #FF0000;
  border-radius: 4px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0 3px;
}

.raf-icon-badge__badge p {
  margin: -1px 0 0 0; padding: 0;
  font-size: 12px;
  font-weight: 700;
  color: white;
}