.raf-icon-button {
  cursor: pointer;
  position: relative;
  svg {
    position: relative;
    z-index: $z5;
    fill: #A0B2B8;
  }

  &:hover {
    svg {
      fill: color(#A0B2B8 shade(15%));
    }
  }
}