.raf-load-more-button {
  button {
    /* border: none;
    background: #fafaf8;
    padding: 8px 16px;
    margin: 8px 0;
    font-size: 14px;
    color: $fontColor;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: $borderRadius;
    box-shadow: 0px 2px 5px 0px color-mod(var(black) a(10%)); */
    width: 100%;
  }
}
