.raf-loading-indicator {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.raf-loading-indicator > div {
  width: 18px;
  height: 18px;
  background-color: color($black tint(80%));
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.raf-loading-indicator .bounce1 {
  animation-delay: -0.32s;
}

.raf-loading-indicator .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
