.raf-new-activities-notification {
  /* reset */
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;

  /* endreset */
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: color-mod(var(info) tint(97%));
  box-shadow: 0 1px 2px color-mod(var(black) a(15%));
  cursor: pointer;
  user-select: none;
  position: relative;
  z-index: $z9;
  margin-bottom: 1px;
}

.raf-new-activities-notification:active {
  box-shadow: 0 0 0 color-mod(var(black) a(15%));
}
