.raf-notification {
  display: flex;
  border-bottom: 1px solid color($black tint(93%));
  padding: 18px;
  background: color($black tint(97%));
  cursor: pointer;
  &:hover {
    background: color($black tint(98%));
  }
}

.raf-notification .raf-avatar {
  margin-right: 16px;
}

.raf-notification p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0;
  color: color($fontColor tint(10%));
  font-weight: 350;
  line-height: 16px;
}

.raf-notification p strong {
  color: $fontColor;
  font-weight: 900;
}

.raf-notification p small {
  font-size: 12px;
}

.raf-notification__content {
  flex: 1;
}

.raf-notification__extra {
  margin-left: 16px;
  align-self: center;
}

.raf-notification--read {
  background: white;
}
