.raf-panel-header {
  position: relative;
  border-bottom: 2px solid color($black tint(95%));
  padding: 15px 30px;
  display: flex;
  align-items: center;
}

.raf-panel-header .raf-close-button {
  position: absolute;
  right: 30px;
}

.raf-panel-header .raf-title {
  display: flex; align-items: center;
}