.raf-panel {
  /* placeholder: */
  background: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}

.raf-panel--rounded { border-radius: 6px; }
.raf-panel--square { border-radius: 0px; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10); }