.raf-status-update-form {
  &__url-list {
    list-style-type: none;
    margin: 0 -8px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    &-item {
      flex: 0 1 calc(50% - 16px);
      margin: 8px;
      padding: 8px 16px;
      background: white;
      border-radius: $borderRadius;
      border: 1px solid color(#fafafa shade(10%));
      color: color($fontColor tint(50%));
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &--active {
        border: 1px solid color(#fafafa shade(20%));
        box-shadow: 0px 1px 3px 0px color($black a(10%));
        background: #fafafa;
        color: $primary;
      }
    }
  }
  &__og-loading {
    border: 1px solid color(#fafafa shade(20%));
    box-shadow: 0px 1px 3px 0px color($black a(10%));
    border-radius: $borderRadius;
    background: #fafafa;
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 8px 0;
    position: relative;
    .raf-loading-indicator__spinner {
      position: absolute;
      left: 16px;
    }
  }
}
