.raf-textarea {
  display: flex;
  width: 100%;
  .raf-textarea__textarea {
    width: 100%;
    color: color($fontColor tint(3%));
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    border-color: $transparent;
    border-radius: $borderRadius;
    padding: 8px;
    transition: background 0.4s;
    resize: vertical;
    &:focus {
      background: color($black tint(95%));
      outline: none;
    }
    &::placeholder {
      color: color($fontColor tint(65%));
    }
  }
}

.raf-emojisearch {
  &__list {
    border-radius: $borderRadius;
    overflow: hidden;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: $z9;
  }
  &__item {
    div {
      padding: 0 10px 0 5px;
    }
  }
}
