.raf-time-header {
  display: flex;
  align-items: center;
  margin: 16px 0;
}
.raf-time-header .raf-title {
  color: color($fontColor tint(80%));
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.13px;
}
.raf-time-header__line {
  height: 1px;
  background: color($fontColor tint(80%));
  flex: 1;
  margin-left: 10px;
}
