html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.box {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.raf-comment-item {
  border-bottom: 0;
}

/* libary overwrites */

.raf-avatar {
  object-fit: cover;
}

.raf-comment-field__group .raf-button,
.raf-comment-field__group textarea {
  margin: 0 !important;
}

.raf-comment-field__group {
  padding: 8px;
}

.raf-comment-field {
  margin: 0 !important;
}

.raf-comment-item {
  border: none !important;
}

.raf-activity-footer {
  margin: 0 16px !important;
  padding: 0 !important;
  border-top: 1px solid #ddd !important;
}

div[class='raf-activity'] {
  margin-bottom: 8px;
  margin-top: 0 !important;
}

div[class='raf-activity']:last-child {
  margin-bottom: 0;
}

.raf-load-more-button > button {
  width: auto !important;
}

.raf-load-more-button {
  display: flex;
  justify-content: center;
}

.raf-activity-repost {
  margin: 8px 16px !important;
}

.raf-icon-badge {
  display: flex;
}

.raf-panel-footer button {
  margin-right: 0;
}

/* custom example application classes */
.ea-root {
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.ea-content {
  height: 100%;
  width: 100%;
  display: flex;
}

.ea-column {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  padding-top: 0;
  position: relative;
}

.ea-column__right {
  margin-left: 5px;
}

.ea-column__left {
  margin-right: 5px;
}

.ea-column-content {
  overflow-y: auto;
  height: calc(100% - 50px); /* 50px is the height of Header */
}

.ea-column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.ea-column-header button {
  padding: 5px 8px;
  margin: 0;
}

.ea-column-header button div {
  width: 19px !important;
  height: 19px !important;
}

.ea-column-header-title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.ea-column-header-title > span {
  margin-left: 5px;
}

.ea-column-header-child {
  display: flex;
  align-items: center;
}

.ea-column-header-child button:last-child {
  margin-left: 5px;
}

.ea-comment-item {
  background: #fff;
  height: 60;
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
}

.ea-comment-item:last-child,
.ea-comment-item:last-of-type {
  border: none;
}

.ea-suggestion-bar {
  background-color: #0ba8e0;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 2px 0;
  text-align: center;
  font-weight: 400;
  display: none;
}

.ea-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 91; /* 90 is the z-index of a raf-new-activities-notification button */
  backdrop-filter: blur(3px);
  left: 0;
  border-radius: 5px;
}

.ea-modal-content {
  position: absolute;
  z-index: 92;
  width: calc(100% - 60px);
  padding: 0 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}

@media only screen and (max-width: 965px) {
  .ea-root {
    /* might add later */
    padding: 0;
  }

  .ea-content {
    flex-direction: column;
  }

  .ea-suggestion-bar {
    display: block;
  }

  .ea-column {
    width: 100%;
    height: calc(100% - 22px); /* 22px is height of suggestion bar */
    box-sizing: border-box;
    border-radius: 0;
  }

  .ea-column__left {
    margin: 0;
  }

  .ea-column__right {
    margin: 0;
  }

  .ea-column__hidden {
    display: none;
  }

  .ea-column-header-title {
    pointer-events: all;
    cursor: pointer;
  }
}

/*
@media only screen and (max-width: 670px) {
  .ea-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
} */
